#map {
    margin-top: 15px;
    height: 670px;
}

.panel-title {
    height: 31px;
    font-size: 1.35rem;
    background: #6CC24A;
    color: white;
    padding: 5px; 
}

.towns{
    margin-top:15px;
    margin-left: -40px;
}
.ListBlock{
    height: 620px;
    margin-left: -40px;
    margin-top:15px;  
}

.ListBlockscroll{
    height:100%;
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.panel-default{
    margin-top: 15px;
    border: 2px solid gray;
    padding-bottom: 10px;
    margin-right: 20px;
}

.phone{
    font-size:12px;
}

.address{
    font-size:12px;
}

.btn-location{
    margin-left:10px;
}

